#расширения
*.c
*.ts
*.cpp.o
*.cmake
*.json

#папки
bin/
lib/
build/
.vscode/
main.dSYM/
test.dSYM/
CMakeFiles/
testing.dSYM/
CMakeFiles/main.dir/
file/
gen.dSYM/
.trunk/
.github/

#файлы
main
Makefile
.DS_Store
.gitignore